* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

.app {
  padding: 3rem 0 2rem;
  margin: 0 auto auto;
}

.align-center {
  text-align: center;
}

.view-container {
  padding: 80px 150px;
  height: calc(100vh - 160px);
  overflow-y: auto;
}

h1 {
  margin: 0;
  padding: 0;
}

.custom-form {
  min-width: 300px;
  max-width: 60%;
  background: rgba(216, 216, 216, 0.15);
  padding: 2rem 3rem;
  margin: 3rem auto auto;
  border-radius: 2.5rem;
  background-color: #f6f7f8;
  color: black;
  flex: 1;
}

.custom-form__input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}

.custom-form__button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.875rem;
  box-shadow: 5px 5px 8px #b1b1b1, -5px -5px 8px #ffffff;
  cursor: pointer;
}

.custom-form__label {
  width: 136px;
}

.logout {
  float: right;
}

.error {
  color: red;
}

.input-error {
  border: 1px solid red;
}

.positive {
  color: forestgreen;
}

.negative {
  color: red;
}